html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Fira Code", monospace;
    background-color: #011627;
    color: #d6deeb;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
    margin-right: 0.5rem;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
    background-color: #5e81ac;
    color: #eceff4;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #88c0d0;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #1d3b53;
    border-radius: 0.25rem;
}

.todo-item span {
    margin-right: 0.5rem;
}

.todo-item button {
    margin-left: auto;
    background-color: #bf616a;
    transition: background-color 0.3s ease;
}

.todo-item button:hover {
    background-color: #d08770;
}
